/* layout */
.panorama,.panorama-view{width:100%;height:100%;overflow:hidden;}
.panorama,.panorama-container{position:relative;}
.panorama-container img{height:100%;position:absolute;top:0;}
.panorama .info,.panorama-view .area{position:absolute;display:block;}
.panorama .info{right:10px;bottom:10px;}

/* style */
.panorama-view{cursor:url(../images/openhand.cur),default;}
.panorama-view.grab{cursor:url(../images/closedhand.cur),default;}
.panorama .info{padding:6px;opacity:0.4;filter:alpha(opacity=40);background-color:#000;color:#fff;font:bold 11px Arial,sans-serif;text-decoration:none;}
.panorama .info:hover{opacity:0.6;filter:alpha(opacity=60);}
.panorama-view .area{opacity:0.2;filter:alpha(opacity=20);background-color:#000;cursor:pointer;overflow:hidden;text-indent:-9999px;}
.panorama-view .area:hover{opacity:0.4;filter:alpha(opacity=40)}
.panorama-view img{-o-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;}
