body {
}
.fontred
{
    font-size:25px;
    color:Red;
    text-align:center;
    
}
.phieudat
{
    border-color: Silver;
    border-style: solid;
    border-width: 1px;
}
.monan
{
    border-color: Black;
    border-style: solid;
    border-width: 1px;
    
}