<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.QLNhaHangConnectionString"
            connectionString="Data Source=KID-PC\SQLEXPRESS;Initial Catalog=QLNhaHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.QLNhaHangConnectionString1"
            connectionString="Data Source=N_M_T178-PC;Initial Catalog=QLNhaHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>