.panorama-area {
	border: 2px solid white;
	filter: alpha(opacity=20);
	/*opacity: .2;
	background: black;*/
	opacity: .6;
	font-size: 100%;
	cursor: pointer;
	text-decoration: none;
	color: white;
	text-align: right;
}
.panorama-area-hover {
	background: #0080e2;
	cursor: pointer;
} 

.area0-hover {
	background: #ff7e00;
}
.area1-hover {
	background: #25bf5b;
}
.panorama-title {
 	position: absolute; 
	right: 0;
	top: 0; 
	font-size: 16px; 
	font-family: Verdana;
	background: gray;
	padding: 3px;
	filter: alpha(opacity=50);
	opacity: .5;
}