CREATE DATABASE QLNhaHang
GO
USE [QLNhaHang]
GO
/****** Object:  Table [dbo].[TINHTRANGPHIEU]    Script Date: 05/03/2012 18:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TINHTRANGPHIEU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TINHTRANGPHIEU](
	[MaTinhTrangPhieu] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TINHTRANGPHIEU] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrangPhieu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[TINHTRANGPHIEU] ON
INSERT [dbo].[TINHTRANGPHIEU] ([MaTinhTrangPhieu], [Ten]) VALUES (1, N'Đã đặt')
INSERT [dbo].[TINHTRANGPHIEU] ([MaTinhTrangPhieu], [Ten]) VALUES (2, N'Đang xác nhận')
INSERT [dbo].[TINHTRANGPHIEU] ([MaTinhTrangPhieu], [Ten]) VALUES (3, N'Đã xác nhận')
SET IDENTITY_INSERT [dbo].[TINHTRANGPHIEU] OFF
/****** Object:  Table [dbo].[LOAINGUOIDUNG]    Script Date: 05/03/2012 18:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAINGUOIDUNG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOAINGUOIDUNG](
	[MaLoaiNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiNguoiDung] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAINGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNguoiDung] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[LOAINGUOIDUNG] ON
INSERT [dbo].[LOAINGUOIDUNG] ([MaLoaiNguoiDung], [TenLoaiNguoiDung]) VALUES (1, N'Admin')
INSERT [dbo].[LOAINGUOIDUNG] ([MaLoaiNguoiDung], [TenLoaiNguoiDung]) VALUES (2, N'Moderator')
INSERT [dbo].[LOAINGUOIDUNG] ([MaLoaiNguoiDung], [TenLoaiNguoiDung]) VALUES (3, N'Người dùng cao cấp')
SET IDENTITY_INSERT [dbo].[LOAINGUOIDUNG] OFF
/****** Object:  Table [dbo].[DANHMUCMONAN]    Script Date: 05/03/2012 18:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DANHMUCMONAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DANHMUCMONAN](
	[MaDMMonAn] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[Anh] [varchar](150) NULL,
	[DaXoa] [bit] NULL,
 CONSTRAINT [PK_DANHMUCMONAN] PRIMARY KEY CLUSTERED 
(
	[MaDMMonAn] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DANHMUCMONAN] ON
INSERT [dbo].[DANHMUCMONAN] ([MaDMMonAn], [Ten], [Anh], [DaXoa]) VALUES (1, N'Lẩu', NULL, 0)
INSERT [dbo].[DANHMUCMONAN] ([MaDMMonAn], [Ten], [Anh], [DaXoa]) VALUES (2, N'Món nướng', NULL, 0)
INSERT [dbo].[DANHMUCMONAN] ([MaDMMonAn], [Ten], [Anh], [DaXoa]) VALUES (3, N'Món chay', NULL, 0)
SET IDENTITY_INSERT [dbo].[DANHMUCMONAN] OFF
/****** Object:  Table [dbo].[DANHMUCBANAN]    Script Date: 05/03/2012 18:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DANHMUCBANAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DANHMUCBANAN](
	[MaDMBanAn] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[Anh] [varchar](150) NULL,
	[DaXoa] [bit] NULL,
	[MoTa] [nvarchar](400) NULL,
 CONSTRAINT [PK_DANHMUCBANAN] PRIMARY KEY CLUSTERED 
(
	[MaDMBanAn] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DANHMUCBANAN] ON
INSERT [dbo].[DANHMUCBANAN] ([MaDMBanAn], [Ten], [Anh], [DaXoa], [MoTa]) VALUES (1, N'Bàn VIP A', NULL, NULL, N'15-20 người')
INSERT [dbo].[DANHMUCBANAN] ([MaDMBanAn], [Ten], [Anh], [DaXoa], [MoTa]) VALUES (2, N'Bàn VIP B', NULL, NULL, N'8-14 người')
INSERT [dbo].[DANHMUCBANAN] ([MaDMBanAn], [Ten], [Anh], [DaXoa], [MoTa]) VALUES (3, N'Bàn VIP C', NULL, NULL, N'1-7 người')
SET IDENTITY_INSERT [dbo].[DANHMUCBANAN] OFF
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 05/03/2012 18:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NGUOIDUNG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NGUOIDUNG](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[Email] [varchar](50) NULL,
	[DienThoai] [varchar](50) NULL,
	[DaXoa] [bit] NULL,
	[MaLoaiNguoiDung] [int] NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 05/03/2012 18:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MONAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MONAN](
	[MaMonAn] [int] IDENTITY(1,1) NOT NULL,
	[TenMonAn] [nvarchar](150) NULL,
	[MoTa] [nvarchar](400) NULL,
	[Gia] [float] NULL,
	[MaDMMonAn] [int] NULL,
	[Anh] [varchar](150) NULL,
	[DaXoa] [bit] NULL,
	[ConMon] [bit] NULL,
 CONSTRAINT [PK_MONAN] PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BANAN]    Script Date: 05/03/2012 18:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BANAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BANAN](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](50) NULL,
	[MaDMBanAn] [int] NULL,
	[Anh] [varchar](150) NULL,
	[DaXoa] [bit] NULL,
	[ConBan] [bit] NULL,
 CONSTRAINT [PK_BANAn] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 05/03/2012 18:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BINHLUAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BINHLUAN](
	[MaBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](400) NULL,
	[DanhGia] [int] NULL,
	[NguoiBinhLuan] [nvarchar](50) NULL,
	[DaXoa] [bit] NULL,
	[MaMonAn] [int] NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PHIEUDATCHO]    Script Date: 05/03/2012 18:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHIEUDATCHO](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[MaBanAn] [int] NULL,
	[TenDangNhap] [varchar](50) NULL,
	[NgayTaoPhieu] [datetime] NULL,
	[NgayDatBan] [datetime] NULL,
	[MaTinhTrangPhieu] [int] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_PHIEUDATCHO] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEU]    Script Date: 05/03/2012 18:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHITIETPHIEU](
	[MaChiTietPhieu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieu] [int] NULL,
	[MaMonAn] [int] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEU] PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhieu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  ForeignKey [FK_BANAN_DANHMUCBANAN]    Script Date: 05/03/2012 18:37:33 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BANAN_DANHMUCBANAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[BANAN]'))
ALTER TABLE [dbo].[BANAN]  WITH CHECK ADD  CONSTRAINT [FK_BANAN_DANHMUCBANAN] FOREIGN KEY([MaDMBanAn])
REFERENCES [dbo].[DANHMUCBANAN] ([MaDMBanAn])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BANAN_DANHMUCBANAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[BANAN]'))
ALTER TABLE [dbo].[BANAN] CHECK CONSTRAINT [FK_BANAN_DANHMUCBANAN]
GO
/****** Object:  ForeignKey [FK_BINHLUAN_MONAN]    Script Date: 05/03/2012 18:37:33 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BINHLUAN_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[BINHLUAN]'))
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_MONAN] FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MONAN] ([MaMonAn])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BINHLUAN_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[BINHLUAN]'))
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_MONAN]
GO
/****** Object:  ForeignKey [FK_CHITIETPHIEU_MONAN]    Script Date: 05/03/2012 18:37:33 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEU_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEU]'))
ALTER TABLE [dbo].[CHITIETPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEU_MONAN] FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MONAN] ([MaMonAn])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEU_MONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEU]'))
ALTER TABLE [dbo].[CHITIETPHIEU] CHECK CONSTRAINT [FK_CHITIETPHIEU_MONAN]
GO
/****** Object:  ForeignKey [FK_CHITIETPHIEU_PHIEUDATCHO]    Script Date: 05/03/2012 18:37:33 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEU_PHIEUDATCHO]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEU]'))
ALTER TABLE [dbo].[CHITIETPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEU_PHIEUDATCHO] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PHIEUDATCHO] ([MaPhieu])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEU_PHIEUDATCHO]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEU]'))
ALTER TABLE [dbo].[CHITIETPHIEU] CHECK CONSTRAINT [FK_CHITIETPHIEU_PHIEUDATCHO]
GO
/****** Object:  ForeignKey [FK_MONAN_DANHMUCMONAN]    Script Date: 05/03/2012 18:37:33 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MONAN_DANHMUCMONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[MONAN]'))
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD  CONSTRAINT [FK_MONAN_DANHMUCMONAN] FOREIGN KEY([MaDMMonAn])
REFERENCES [dbo].[DANHMUCMONAN] ([MaDMMonAn])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MONAN_DANHMUCMONAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[MONAN]'))
ALTER TABLE [dbo].[MONAN] CHECK CONSTRAINT [FK_MONAN_DANHMUCMONAN]
GO
/****** Object:  ForeignKey [FK_NGUOIDUNG_LOAINGUOIDUNG]    Script Date: 05/03/2012 18:37:33 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUOIDUNG_LOAINGUOIDUNG]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUOIDUNG]'))
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_LOAINGUOIDUNG] FOREIGN KEY([MaLoaiNguoiDung])
REFERENCES [dbo].[LOAINGUOIDUNG] ([MaLoaiNguoiDung])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NGUOIDUNG_LOAINGUOIDUNG]') AND parent_object_id = OBJECT_ID(N'[dbo].[NGUOIDUNG]'))
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_LOAINGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_PHIEUDATCHO_BANAN]    Script Date: 05/03/2012 18:37:33 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_BANAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATCHO_BANAN] FOREIGN KEY([MaBanAn])
REFERENCES [dbo].[BANAN] ([MaBan])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_BANAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO] CHECK CONSTRAINT [FK_PHIEUDATCHO_BANAN]
GO
/****** Object:  ForeignKey [FK_PHIEUDATCHO_NGUOIDUNG]    Script Date: 05/03/2012 18:37:33 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_NGUOIDUNG]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATCHO_NGUOIDUNG] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[NGUOIDUNG] ([TenDangNhap])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_NGUOIDUNG]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO] CHECK CONSTRAINT [FK_PHIEUDATCHO_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_PHIEUDATCHO_TINHTRANGPHIEU]    Script Date: 05/03/2012 18:37:33 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_TINHTRANGPHIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATCHO_TINHTRANGPHIEU] FOREIGN KEY([MaTinhTrangPhieu])
REFERENCES [dbo].[TINHTRANGPHIEU] ([MaTinhTrangPhieu])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUDATCHO_TINHTRANGPHIEU]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUDATCHO]'))
ALTER TABLE [dbo].[PHIEUDATCHO] CHECK CONSTRAINT [FK_PHIEUDATCHO_TINHTRANGPHIEU]
GO
